<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>talk to me</title>
    <script type="text/javascript" src="{% static 'talk/scripts/jquery.js' %}"></script>
    <!-- Foundation & FontAwesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'talk/css/foundation.min.css' %}">
    <script src="{% static 'talk/scripts/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'talk/scripts/trianglify.min.js' %}"></script>
    <script type="text/javascript">
        // random background pattern
        $(function(){
          // See more options here: https://github.com/qrohlf/trianglify#options
          var ops = {
            noiseIntensity: 0,
          }
          var t = new Trianglify(ops);
          var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
          document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'talk/css/talk.css' %}">
    {% block head %}
    {% endblock %}
</head>
 <body>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <div class="grid-x grid-padding-x">
                <div class="large-2 medium-2 cell"></div>
                    {% block content %}
                    {% endblock %}
                <div class="large-2 medium-2 cell"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'talk/scripts/main.js' %}"></script>
 </body>
</html>